<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientist use are:

1. Python
2. R- Language
3. Julia 
4. Java
5. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib 
2. Pandas
3. PyTorch
4. Seaborn
5. Spark
6. ggplot2

|Data Science Tools|
|------------------|
|MySQL             |
|ave               |
|Kibana            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
/#This a simple arithmetic expression to multiply then add integers#/

(3*4)+5

17

In [4]:
/#This will convert 200 minutes to hours by diving by 60#/

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

**Objectives**

* Data Science tools
* Popular language for Data Science
* commonly used libraries used by Data Scientists
* evaluating arithmetic expressions
* time conversion

## Author 
Olawale Agunbiade